* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.main-container {
    /* border: 1px solid; */
    width: 100vw;
    height: 50vh;
    background-image: url(../assets/movieBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


nav {
    width: 100%;
    border: none;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: .2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
}

.search-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;

}

.search-area input{
    width: 70%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: cornsilk;
}

button{
    padding: .8rem 2rem;
    border: none;
    border-radius: 8px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
}

.movie-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 100%;
    gap: 2rem;
}

.movie-page-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 1rem;
}

.movie-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.movie-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.movie-title{
    font-size: 1.2rem;
    width: 15rem;
    text-wrap: wrap;
    line-height: 1.6rem;
}